## Import data

In [ ]:
/* Generated Code (IMPORT) */
/* Source File: cleaned_df.csv */
/* Source Path: /home/u62467433/Customer Income Prediction Analysis */
/* Code generated on: 13/07/2023 09:12 */

%web_drop_table(Malebo.data);


FILENAME REFFILE '/home/u62467433/Customer Income Prediction Analysis/cleaned_df.csv';

PROC IMPORT DATAFILE=REFFILE
	DBMS=CSV
	OUT=Malebo.data;
	GETNAMES=YES;
RUN;

PROC CONTENTS DATA=Malebo.data; RUN;


%web_open_table(Malebo.data);

## Distribition of Income Group Description

In [ ]:
ods graphics / reset width=6.4in height=4.8in imagemap;

/* Sort the dataset by INCOME_GROUP_DESC */
proc sort data=MALEBO.DATA;
  by INCOME_GROUP_DESC;
run;

proc sgplot data=MALEBO.DATA;
	vbar INCOME_GROUP_DESC /;
	yaxis grid;
run;

ods graphics / reset;

## Gender distribution

In [ ]:

proc template;
	define statgraph SASStudio.Pie;
		begingraph;
		entrytitle "Gender Distribution" / textattrs=(size=14);
		layout region;
		piechart category=SEX_CODE / stat=pct categorydirection=clockwise 
			dataskin=gloss;
		endlayout;
		endgraph;
	end;
run;

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgrender template=SASStudio.Pie data=MALEBO.DATAK;
run;

ods graphics / reset;

##  Most Common Transaction Description

In [ ]:

proc template;
	define statgraph SASStudio.Pie;
		begingraph;
		layout region;
		piechart category=TRANSACTION_DESCRIPTION /;
		endlayout;
		endgraph;
	end;
run;

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgrender template=SASStudio.Pie data=Malebo.data;
run;

ods graphics / reset;

## Total Transactions Per Channel by Product Code

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=Malebo.data;
	title height=14pt "Total Transactions Per Channel by Product Code";
	vbar CHANNEL / response=EVENT_NUMBER group=PRODUCT_CODE groupdisplay=cluster 
		stat=mean dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total Transactions Per income_proup_description by Channel

In [ ]:

ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=Malebo.data;
	title height=14pt "Total Transactions Per income_proup_description by Channel";
	vbar INCOME_GROUP_DESC / response=EVENT_NUMBER group=CHANNEL groupdisplay=cluster 
		stat=mean dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Most used channel by each age group

In [ ]:

/* Define custom format for age grouping */
proc format;
   value age_group
   low -< 20 = 'Under 20'
   20 -< 30 = '20s'
   30 -< 40 = '30s'
   40 -< 50 = '40s'
   50 -< 60 = '50s'
   60 -< 70 = '60s'
   70 -< 80 = '70s'
   80 - high = '80 and above';
run;

/* Apply the age grouping format to the age variable */
DATA data1;
   SET MALEBO.DATA;

   age_group = put(age, age_group.);
RUN;

/* Generate a bar chart with grouped ages */
ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=data1;
	title height=14pt "Most used Channel by Age";
   vbar age_group / group=CHANNEL groupdisplay=cluster datalabel dataskin=sheen;
   yaxis grid;
run;

ods graphics / reset;

## Event Number By Age group and product code

In [ ]:

/* Define custom format for age grouping */
proc format;
   value age_group
   low -< 20 = 'Under 20'
   20 -< 30 = '20s'
   30 -< 40 = '30s'
   40 -< 50 = '40s'
   50 -< 60 = '50s'
   60 -< 70 = '60s'
   70 -< 80 = '70s'
   80 - high = '80 and above';
run;

/* Apply the age grouping format to the age variable */
DATA data1;
   SET MALEBO.DATA;

   age_group = put(age, age_group.);
RUN;
ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=MALEBO.DATA;
	title height=14pt "Average Event number by Age group and Product code";
	vbar age_group / response=EVENT_NUMBER group=PRODUCT_CODE groupdisplay=cluster 
		stat=mean dataskin=sheen;
	yaxis grid;
run;

ods graphics / reset;
title;

## Total count of  Customers by Age grouped by Income Group

In [ ]:

/* Define custom format for age grouping */
proc format;
   value age_group
   low -< 20 = 'Under 20'
   20 -< 30 = '20s'
   30 -< 40 = '30s'
   40 -< 50 = '40s'
   50 -< 60 = '50s'
   60 -< 70 = '60s'
   70 -< 80 = '70s'
   80 - high = '80 and above';
run;

/* Apply the age grouping format to the age variable */
DATA data1;
   SET MALEBO.DATA;

   age_group = put(age, age_group.);
RUN;

/* Generate a bar chart with grouped ages */
ods graphics / reset width=6.4in height=4.8in imagemap;

proc sgplot data=data1;
	title height=14pt "Total Customer ID by Age grouped by Income Group";
   vbar INCOME_GROUP_DESC/  group=age_group groupdisplay=cluster datalabel dataskin=sheen;
   yaxis grid;
run;

ods graphics / reset;

## seasonal trends in customer transaction activity

In [ ]:

/* Sort the data by RECORD_DATE */
proc sort data = MALEBO.DATA;
  by TRANSACTION_RECORD_DATE;
run;

/* Create the bar graph */
proc sgplot data=MALEBO.DATA;
  format TRANSACTION_RECORD_DATE MONYY.;
  vbar TRANSACTION_RECORD_DATE / response=EVENT_NUMBER group=TRANSACTION_RECORD_DATE;
  xaxis label='Record Date' valuesformat=MONYY.;
  yaxis label='Event Number';
  title 'Bar Graph of Event Number over Record Date';
run;